<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.firstName, user.givenName, user.lastName %></p>
<img src='<%= user.pic %>' alt="">
<a href="/store" class="btn btn-secondary">Store</a>
<a href="/users/logout" class="btn btn-secondary">Logout</a>