<h1 class="mt-4">Store</h1>
<p class="lead mb-3">Welcome <%= user.userName %></p>
<a href="/dashboard" class="btn btn-secondary">Back</a>
<a href="/payments/checkout" class="btn btn-secondary">checkout</a>
